
@{
    ViewBag.Title = "Subscribe";
}

<h2>Subscribe</h2>

@using (Html.BeginForm()) {
    <dl>
        <dt>
            StudentName
        </dt>
        <dd>
            <input type="text" name="name" id="name" />
        </dd>
    </dl>
    <input type="submit" name="subscribe" value="subscribe" />
}
